/* Debug by borders */

canvas {
  /*border: 1px solid cadetblue;*/
}

.main {
  /*border: 1px solid magenta;*/
}

.basic {
  /*border: 1px solid burlywood;*/
}


/* Main Layout */

.input {
  position: relative;
}

canvas {
  position: absolute;
  left: -.75em;
  top: .5em;
  /*width: 100%;*/
  /*z-index: -100;*/
}

.main {}

.main form {
  display: flex;
  flex-wrap: wrap;
}

.main form>div {
  /*border: 1px dotted;*/
  width: 46%;
}

.main form .image {
  order: 1;
}

.main form .name {
  order: 2;
}

.main form .additional {
  order: 3;
}

.main form .basic {
  order: 4;
}


/* Common styles like fonts, input styles */

* {
  font-family: sans-serif;
}

input {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background: transparent;
}

label {
  font-size: .7em;
  color: gray;
  /*font-weight: bold;*/
}


/* Components/sections */


/* Common layouts (like inputs in .input wrappers) */

.input {
  /*border: 1px dotted ;*/
  display: flex;
  align-items: center;
  margin: 1em;
}

.input.multi-line,
.additional .input {
  flex-wrap: wrap;
}

.input.multi-line canvas {
  /*position: relative;*/
  top: 4px;
}

.input input {
  width: 0;
  flex-grow: 10;
  flex-shrink: 10;
}

form input {
  margin-left: .5em;
}

ol {
  width: 100%;
  padding: 0;
  padding-left: 1.5em;
  margin: 0;
}

ol li {
  margin: 0;
}

.input li input {
  margin-top: .75em;
  width: 95%
}


/* Name and Surname */

.name input {
  position: relative;
  left: -3em;
  font-size: 1.5em;
  border-width: 3px;
  border-style: solid;
  border-image-source: linear-gradient( to right, rgb(102, 190, 164) 0%, rgb(138, 133, 207) 50%, rgb(234, 93, 13) 100%);
  border-image-slice: 1;
  padding: .5em;
  margin: 2em 1em 0.5em 0;
  width: 18em;
  z-index: 100;
  text-align: center;
}

.name input::placeholder {
  text-align: center;
  color: rgba(0, 0, 0, .2);
}


/*.additional*/

textarea {
  width: 100%;
  height: 6em;
  border: 0;
  line-height: 1.5em;
  background-image: linear-gradient(to top, rgba(0, 0, 0, .2) 0, white 1px);
  background-repeat: repeat-y;
  background-size: 100% 1.5em;
  background-position-x: 2px;
  overflow: hidden;
  resize: none;
}

.basic {
  position: relative;
  top: -220px;
}

.image {
  position: relative;
  /*border: 1px dotted;*/
  margin-top: 20px;
  margin-left: 20px;
  width: 40% !important;
  height: 300px;
}

.image input {
  display: block;
  position: absolute;
  left: 3em;
  bottom: 1em;
  z-index: 100;
}
@media print {
  .image input {
    display: none;
  }
}


.image img {
  text-align: center;
  width: 100%;
  /*height: 300px;*/
  /*max-width: 100%;*/
  /*max-height: 120px;*/
}

